button {border: none; color: #eee;}
html, body, h1, h2, h3, h4, h5, h6, p, div, section, aside, article, main, footer, header, button, a {
  user-select: none;
  -moz-user-select: none;
}

#body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  background: url('/src/images/leaves-wallpaper-1920x1080-botanical-verdant-25003.jpg') no-repeat;
  background-size: cover;
  filter: saturate(140%);
  -webkit-filter: saturate(140%);
  color: #eee;
  transition: 300ms ease-in-out;
}

#dock {
  height: 9dvh;
  width: 51.375dvh;
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 2.5dvh;
  transition: 300ms;
  
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px) saturate(140%);
  -webkit-backdrop-filter: blur(6px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 2.5dvh;
  
  & > :last-child {
    margin-left: 3dvh;
  }
}

.icon {
  height: 7dvh;
  width: 7dvh;
  
  background-color: rgba(0, 0, 0, 0.45);
  border: 0.1em solid #444;
  border-radius: 2.5dvh;

  transition: 100ms ease-in-out;
  position: relative;
}

.icon:hover:not(:last-child) {
  transform: scale(125%) translateY(-10%);
}
.icon:hover:not(:last-child) + .icon:not(:last-child) {
  transform: scale(112.5%);
}
.icon:has(+ .icon:hover:not(:last-child)):not(:last-child) {
  transform: scale(112.5%);
}
.icon.icon:has(+ .icon + .icon:hover:not(:last-child)):not(:last-child) {
  transform: scale(106.25%);
}

.icon::before {
  content: attr(data-name);
  position: absolute;
  height: max-content;
  width: max-content;
  padding: 0 0.5em;
  background-color: #eee;
  border-radius: 0.5em;
  opacity: 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  transition: 100ms ease-in-out;
  
  position: absolute;
  bottom: 7dvh;
  left: 0;
  z-index: 10;
  transform: translate(calc(-25% + 0.5em), 200%);
}
.icon:hover::before {
  opacity: 1;
  transform: translate(calc(-25% + 0.5em), 0);
}



/* Welcome */
.welcome {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);

  height: 100%;
  width: 100%;
  overflow: hidden;

  font-size: 10dvh;
  line-height: 0;
  user-select: none;
  -moz-user-select: none;
  font-family: 'Segoe Script', 'Script';
  transition: 500ms;
  z-index: 6;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: linear-gradient(45deg, #acf, #caf);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome p {
  bottom: 5dvh;
  font-size: 5dvh;
  position: absolute;
  text-align: center;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.15);
  font-family: 'OCR A', 'Poppins', 'Century Gothic', monospace;
}



/* Settings */
.set {
  height: 60dvh;
  width: 60dvw;

  z-index: 5;
}