button {border: none; color: #eee;}

#body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  background: url('/src/images/leaves-wallpaper-1920x1080-botanical-verdant-25003.jpg');
  color: #eee;
  transition: 300ms ease-in-out;
}

#dock {
  height: 9dvh;
  width: 51.375dvh;
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 2.5dvh;
  
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 2.5dvh;

  & > :last-child {
    margin-left: 3dvh;
  }
}

.icon {
  height: 7dvh;
  width: 7dvh;
  
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 2.5dvh;

  transition: 100ms ease-in-out;
}

.icon:hover:not(:last-child) {
  transform: scale(125%) translateY(-10%);
}
.icon:hover:not(:last-child) + .icon:not(:last-child) {
  transform: scale(112.5%);
}
.icon:has(+ .icon:hover:not(:last-child)):not(:last-child) {
  transform: scale(112.5%);
}
.icon.icon:has(+ .icon + .icon:hover:not(:last-child)):not(:last-child) {
  transform: scale(106.25%);
}
