.appWindow {
  display: flex;
  flex-direction: column;
  flex: 3dvh auto;

  height: 80dvh;
  width: 85dvw;
  margin: 1rem;
  overflow: hidden;
  position: absolute;
  top: 2.5dvh;
  z-index: 3;

  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(16px) saturate(140%);
  -webkit-backdrop-filter: blur(16px) saturate(140%);
  border: 0.1em solid rgba(5, 5, 5, 0.15);
  border-radius: 2.4em;

  transition: 300ms ease-in-out; 
}

.appTop {
  display: grid;
  grid-template-columns: 10dvh 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  height: 3dvh;
  width: 85dvw;

  background-color: transparent;
  color: #fafafa;
  font-size: 1dvh;
  line-height: 0;
  position: relative;
}

.appName {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-left: calc(42.5dvw - 4dvh - 4.5em)
}

.traffic {
  display: flex;
  justify-content: space-evenly;

  height: 3dvh;
  width: calc(10dvh + 2.5em);

  & > :first-child {
    margin-left: 2.5em;
  }
}

.appCtrl {
  height: 2dvh;
  width: 2dvh;

  border-radius: 1dvh;
}

.red {background-color: red;}
.yellow {background-color: yellow;}
.green {background-color: green;}

.app {
  background-color: #0a0a0a;
  overflow: auto;
  transition: 200ms;
}
