.appWindow {
  display: flex;
  flex-direction: column;
  flex: 3dvh auto;

  margin: 1rem;
  overflow: hidden;
  position: absolute;
  top: 2.5dvh;
  z-index: 3;

  height: 80%;
  width: 85%;

  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(16px) saturate(140%);
  -webkit-backdrop-filter: blur(16px) saturate(140%);
  border: 0.1em solid rgba(5, 5, 5, 0.15);
  border-radius: 2.4em;

  transition: 300ms ease-in-out; 
}

.appWinFull {
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.appTop {
  display: grid;
  grid-template-columns: 10dvh 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  background-color: transparent;
  color: #fafafa;
  font-size: 1dvh;
  line-height: 0;
  position: relative;
  
  z-index: 5;
}

.appName {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  text-align: center;
  z-index: 6;
  pointer-events: none;
}

.traffic {
  display: flex;
  justify-content: space-evenly;

  height: 3dvh;
  width: calc(10dvh + 2.5em);

  position: relative;
  z-index: 7;

  & > :first-child {
    margin-left: 2.5em;
  }
}

.appCtrl {
  height: 2dvh;
  width: 2dvh;

  border-radius: 1dvh;
  z-index: 8;
  cursor: pointer;
}

.red {background-color: red;}
.yellow {background-color: yellow;}
.green {background-color: green;}

.app {
  overflow: visible;
  scrollbar-width: none;
  transition: 200ms;
  
  color: #eef2ff;
  background: rgba(0, 0, 0, 0.15);
}
