@font-face {
  font-family: 'Poppins';
  src: url('./assets/poppins-regular-webfont.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/poppins-semibold-webfont.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Playwrite';
  src: url('./assets/PlaywriteGBJ-VariableFont_wght.ttf');
  font-weight: 300 400 500 600 700;
}

#root, body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Poppins', 'Century Gothic';
}
